h1 {
	color: #d16405;
	width: 300px;
	float: left;
	height: 40px;
}

a {
	color: #9fa92d;
}

a:visited {
	color: #798218;
}

a:hover {
	background: #d16505;
	color: white;
	text-decoration: none;
}


#menu {
	position: absolute;
	top: 68px;
	width: 950px;
	float: right;
	text-align: right;
}

#menu a {
	margin-left: 15px;
	margin-right: 15px;
	font-weight: bold;
	text-decoration: none;
	padding:2px;
}
#menu a:hover {
	background: none;
	border-top: 2px solid #d16505;
	color: #d16505;
}
#menu a.highlight {
	background: none;
	border-top: 2px solid #9fa92d;
}

#footer {
	padding-top: 20px;
	clear: both;
}
ul.error,
ul.notice,
ul.success {
	list-style: none;
}
table.grid th {
	background: #ddd;
}
table.grid td {
	border-bottom: 1px solid #ddd;
}
a.add {
	line-height: 16px;
}
a.add img {
	line-height: 16px;
	vertical-align: middle;
}
.red {
	color: red;
}
input.datetimepicker {
      border: 1px solid #C0C0C0;
      padding: 1.5pt 6pt 1.5pt 1.5pt;
      background: transparent url('/images/calendar.png') no-repeat right;
}