{var pageTitle => "Change password"}

{block #content}
<h2>Change password</h2>
{if count($flashes) > 0}
	{foreach $flashes as $flash}
		<div class="{$flash->type}">{$flash->message}</div>
	{/foreach}
{/if}
{control changeForm}
{/block}
